In [21]:
def willchange(list):
    list1=[1,2,3,4]
    print(list1)
    return list

list1=[11,12,13,14]
willchange(list1)
print(list1)

[1, 2, 3, 4]
[11, 12, 13, 14]

In [32]:
def func(a,*val):
    print('Output is :',a,end=' ')
    for value in val:
        print(value,end=' ')

func(12,34,45,67)

Output is : 12 34 45 67

In [34]:
def func(one,two,*val):
    print('First : ',one)
    print('Second : ',two)
    print('Rest are :',val)

func('Krsihna','Agrawal','22','08','2028')

First :  Krsihna
Second :  Agrawal
Rest are : ('22', '08', '2028')

In [35]:
def myfunc(one,two,*val):
    print('First :',one)
    print('Second :',two)
    print('Rest are :',val)

func('Bill','Canady','Hospital',45,32,78,4)

First :  Bill
Second :  Canady
Rest are : ('Hospital', 45, 32, 78, 4)

In [37]:
def myfunc(one,two,three):
    print('First :',one)
    print('Second :',two)
    print('Third :',three)


args=[34,21]
myfunc(21,*args)

First : 21
Second : 34
Third : 21

In [38]:
def myfunc(one,two,three):
    print('First :',one)
    print('Second :',two)
    print('Third :',three)


args=[67,'Neel']
myfunc('Function',*args)

First : Function
Second : 67
Third : Neel

Use of **kwargs

In [39]:
def myfunc(**profile):
    if profile is not None:
        for key,value in profile.items():
            print(key,':',str(value))

myfunc(name='Emilo Marinez',age=45,city='Rosario')

name : Emilo Marinez
age : 45
city : Rosario

In [41]:
def value(**pointer):
    if pointer is not None:
        for key,value in pointer.items():
            print(key,':',value)

value(name='Lionel Messi',age='35',city='Rosario',country='Argentina',profession='Footballer')

name : Lionel Messi
age : 35
city : Rosario
country : Argentina
profession : Footballer

In [49]:
def value(**pointer):
    if pointer is not None:
        for key,value in pointer.items():
            print(key,":",value)

value(name='Novak Djokovic',Age='38',Country='Serbia',Profession='Tennis Player')

name : Novak Djokovic
Age : 38
Country : Serbia
Profession : Tennis Player

In [50]:
def sport(**major):
    if major is not None:
        for key,value in major.items():
            print(key,":",value)

sport(name='Major DhyanChand',age='121',country='India',profession='Hockey Player')

name : Major DhyanChand
age : 121
country : India
profession : Hockey Player

In [53]:
def func(a,b,c):
    print(' A is :',a)
    print(' B is :',b)
    print(' C is :',c)

kwargs={'b':3,'c':4}
func(34,**kwargs)

 A is : 34
 B is : 3
 C is : 4

In [56]:
def myfunc(a,b,c):
    print('a is :',a)
    print('b is :',b)
    print('c is :',c)

kwargs={'b':45,'c':56}
myfunc(36,**kwargs)

a is : 36
b is : 45
c is : 56

Now we Learn About Regular Expressions

In [63]:
import re
verify_name=re.compile('^ab')
print(type(verify_name))

name='abc'
match=verify_name.search(name)
print(match)

<class 're.Pattern'>
<re.Match object; span=(0, 2), match='ab'>

In [65]:
import re
verify_name=re.compile('^az')
print(type(verify_name))

name='az'
match=verify_name.search(name)
print(match)

<class 're.Pattern'>
<re.Match object; span=(0, 2), match='az'>

In [8]:
import re
verify_name=re.compile('[^A-Za-z\s.]')
name=str(input('Enter The Name:'))
if verify_name.search(name):
    print('Name should written in alphabets only')

else:
    print('Name is perfect')

Name should written in alphabets only

In [9]:
import re
verify_name=re.compile('[^A-Za-z\s.]')
name='Kr3ishna agrawal'
if verify_name.search(name):
    print('Name should written in captal letters only')


else:
    print('Name is perfect')

Name should written in captal letters only

In [28]:
import re
verify_name=re.compile(r'\Dat')
name='Krishna Agrawal'
if verify_name.search(name):
    print('Name should written in alphabet only')
else:
    print('Name is perfect')

Name is perfect

In [26]:
import re
verify_name=re.compile(r'd')
name='Krishna Agrawal'

if verify_name.search(name):
    print('Name should writtern capital letters only')

else:
    print('Name is')

Name should writtern capital letters only

In [49]:
import re
strlist=['san sfransisco','star star','smoon smoon']

for string in strlist:
    success=re.match('(s\w+)\W(s\w+)',string)
    print(type(success))
    if success :
      print(success)
      print('Span is :',success.span())
      print('Group is :',success.group())

<class 'NoneType'>
<class 'NoneType'>
<class 'NoneType'>

In [50]:
import re
strlist=['san sfrnaso','south safrica','southern sisland']
for string in strlist:
    success=re.match('(s\w+)\W(s\w+)',string)
    print(type(success))
    if success:
        print(success)
        print('The Span Is :',success.span())
        print('The Group Is :',success.group())

<class 're.Match'>
<re.Match object; span=(0, 11), match='san sfrnaso'>
The Span Is : (0, 11)
The Group Is : san sfrnaso
<class 're.Match'>
<re.Match object; span=(0, 13), match='south safrica'>
The Span Is : (0, 13)
The Group Is : south safrica
<class 're.Match'>
<re.Match object; span=(0, 16), match='southern sisland'>
The Span Is : (0, 16)
The Group Is : southern sisland

In [60]:
import re
name='Heloo Everyone My Name Is Krishna Agrawal And I was born on 08062005'
# pattern=('\D+')
# pattern=('A\w+')
pattern=('\d+')

re.findall(pattern,name)

['08062005']

Now we study about split function

In [62]:
import re
name='Hello everyone i am krishnae aegrawal'
pattern='i'
str=re.split(pattern,name)
print(str)

['Hello everyone ', ' am kr', 'shnae aegrawal']

In [73]:
import re
name='Twelve:12 Seventy seven:77 Ninety two:92'
pattern='\d+'
str=re.split(pattern,name,2)
print(str)

['Twelve:', ' Seventy seven:', ' Ninety two:92']

Example for use of  re.split()
The re.split method splits the string where there is a match and returns a list of strings where the splits have occurred.

If the pattern is not found, re.split() returns a list containing the original string.

In [79]:
import re
name='Hello     Welcome     To Our Beautiful \n   Planet Earth Which Is Our Home'
pattern='\s+'
replace='&&&&'
str=re.sub(pattern,replace,name)
print(str)

Hello&&&&Welcome&&&&To&&&&Our&&&&Beautiful&&&&Planet&&&&Earth&&&&Which&&&&Is&&&&Our&&&&Home

In [83]:
import re
name='My    Name is    .'
pattern=('\s')
replace='(Krishna)'
str=re.sub(pattern,replace,name)
print(str)

My(Krishna)(Krishna)(Krishna)(Krishna)Name(Krishna)is(Krishna)(Krishna)(Krishna)(Krishna).

### Use of re.subn()
The re.subn() is similar to re.sub() expect it returns a tuple of 2 items containing the new string and the number of substitutions made.

In [87]:
import re
name='Hello    Everyone    Welcome to '
pattern=('\s+')
replace='(Earth)'
str=re.subn(pattern,replace,name)
print(str)

('Hello(Earth)Everyone(Earth)Welcome(Earth)to(Earth)', 4)