In [ ]:
#  if else 

a=3.5


if a>=0:
    print("In if")
    if a==0:
       print("a is zero")
    else:
         print("a is positive")
        
     
    
else:
    print("In Else")
    if a<0:
         print("a is not greater than 0")
         
  
    else:
         print("a is negative")
   
    
print("In Main Body")

In if
a is positive
In Main Body

In [14]:
# Multiline statements

name = "krishna \
anilkumar agrawal"
print(name)


days=["monday","tuesday","wednesday"
      ,"thrusday"]
print(days)

krishna anilkumar agrawal
['monday', 'tuesday', 'wednesday', 'thrusday']

In [19]:
# python numbers

a=4;b=34
del a
print(a)

4

In [28]:
# python strings

str="hello world"
print(str) # Prints complete string
print(str[0])# Prints first character of the string
print(str[2:5])# Prints characters starting from 3rd to 5th
print(str*2)# Prints string two times
print(str + " i am krishna") # Prints concatenated string

hello world
h
llo
hello worldhello world
hello world i am krishna

In [34]:
# python lists

list=[12,45.2,"krishna",-34]
tinylist=[56,34]
print(list)
print(list[0])
print(list[1:3])
print(tinylist * 2)
print(tinylist)

[12, 45.2, 'krishna', -34]
12
[45.2, 'krishna']
[56, 34, 56, 34]
[56, 34]

In [2]:
#  python tuple

a= tuple("krishna")
print(a)
print(type(a))

('k', 'r', 'i', 's', 'h', 'n', 'a')
<class 'tuple'>

In [15]:
 # python sets
    
a= {1,2,3,4,5,5,5,6,7,7,7}
print(a)
print(type(a))

a=set("krisshnna")
print(a)

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>
{'i', 'a', 'k', 'n', 'h', 'r', 's'}

In [23]:
# None

a = None
print(type(a))
print(a)

<class 'NoneType'>
None

In [25]:
# isinstance  is a object and it checks two things object and datatype

a=5
print(isinstance(a,int))

a=5.5
print(isinstance(a,int))

True
False

In [26]:
# local variable and whitespace character  . white space is also a character

a=" krishna"
print(type(a))
print(a)

<class 'str'>
 krishna

In [31]:
a=20
b=2
if a>b:
    print("a is great")
else:
    print("b is great")
    
if a==b:
    print("Both are equal")
else:
    print("Not same")

a is great
Not same

In [34]:
a=20;b=10;c=0
c+=a
print("The value of c is ",c)

c-=b
print("The value of c is ",c)

The value of c is  20
The value of c is  10

In [39]:
# dictionary
a={'name':'krishna','age':17}
print(type(a))
print(a)

<class 'dict'>
{'name': 'krishna', 'age': 17}

In [48]:
# bool

a=16>7
print(type(a))
print(a)

# now we check bool with tuple
a=(12,13,15,34,56)
print(a[4])
print(len(a))

#a[2]=23
#print(a[2])
print(a)

<class 'bool'>
True
56
5
23
[12, 13, 23, 34, 56]

In [54]:
n=("krishna")
print(n[2])
print(n.lower())
print(n.upper())
print(len(n))

i
krishna
KRISHNA
7

In [58]:
'''if you take variable 'and' it will give error because its a reserved keyword, 
   but if you want to choose and variale just type "and_" '''

and_='krishna'
print(and_)

krishna

In [66]:
# ternary operator means 1 line if-else

a=2300
b=2200
c=a>b
print(c)
a if c else b


#or second method

a=2300
b=2200
c=a>b
print(c)
a if a>b else b

True
True

2300

In [72]:
# and operation if the both conditions are true then it will give true  or false
p=23>22
q=3>2
p and q

True

In [74]:
# discount

order_value=float(input("Enter the order value = "))
print(type(order_value))
p=order_value*0.9
r=order_value
q=order_value>1000

print("The value you have to paid is = ",p if q else r)

Enter the order value =  1001.1

<class 'float'>
The value you have to paid is =  900.99

In [82]:
# membership check

li=[12,34,56,76,23,90]
name="krishna"

x=56
l='k'
print(x in li)
print(l in name)


print(100 in [23,45,34,24])
print('k' in "krishna")

True
True
False
True

In [84]:
# object identify check

p=23;q=23;r=24
print(p is not q)
print(p==q)

False
True

In [89]:
# random and choice

import random
print(random.random()*10)
print(random.choice(['red','yellow','orange','blue','violet']))

1.548474581743633
blue

In [90]:
# id
a=3
print(id(a))
print(id(3))

2765587638640
2765587638640

In [5]:
a=int(input('Enter the value of a = '))
b=int(input('Enter the value of b = '))
print("The sum of a and b is = ",a+b)

Enter the value of a =  2
Enter the value of b =  2

The sum of a and b is =  4

In [8]:
a=int(input('Enter the value of a = '))


if a%2==0:
    print('even number')
else:
    print('odd number')

Enter the value of a =  3

odd number

In [21]:
a=int(input('Enter the value of a = '))
b=int(input('Enter the value of b = '))

if a>=b:
    print('The value of a is greater then b ')
    
else:
     print('The value of b is greater then a ')

Enter the value of a =  3
Enter the value of b =  5

The value of b is greater then a

In [37]:
# append work is to add another element or object in the last
a=[45,34,67,32]
a.append(5)
print(a)

[45, 34, 67, 32, 5]

In [38]:
a=[23,45,67,89,21,56,[54,34,29],42]
print(a[6][1]2)

[54, 34, 29]

In [42]:
# sort
a=[12,23,34,45,56,67,-9]
a.sort()
print(a)

[-9, 12, 23, 34, 45, 56, 67]