In [7]:
def mynumber(x,y):
    'My this function give two values given by krishna'         #It was a docstring . It tell that what we did in this mynumber function
    print('The value of x is ',x)
    print('The value of y is ',y)
    print('The sum of x and y is ',x+y)
    return

print (type(mynumber))
mynumber(12,24)
mynumber(23,33)
print(mynumber)
print(help(mynumber))

<class 'function'>
The value of x is  12
The value of y is  24
The sum of x and y is  36
The value of x is  23
The value of y is  33
The sum of x and y is  56
<function mynumber at 0x0000023D49D5BEE0>
Help on function mynumber in module __main__:

mynumber(x, y)
    My this function give two values given by you

None

In [14]:
def sum(a,b,c):
    'My this function return sum of  three values given by krishna'
    return a+b+c

myvalue=sum(2,2,2)
print(f"The sum of three number is = {myvalue}")

The sum of three number is = 6

In [17]:
def a(a,b,c):
    return a*b/c
b=a(4,2,8)
print(f'The answer is = {b}')
print(type(b))
print(sum.__doc__)

The answer is = 1.0
<class 'float'>
My this function return sum of  three values given by you

In [18]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [24]:
abc=sum(2,5,7)
print('The sum is ',abc)

The sum is  14

In [26]:
def subtraction(a,b):
    'It will subtract two numbers given by you'
    print(f'The value of a is = {a}')
    print(f'The value of b is = {b}')
    print('The subtraction of a and b is = ',a-b)
    return
subtraction(100,95)
print(subtraction)
print(type(subtraction))

The value of a is = 100
The value of b is = 95
The subtraction of a and b is =  5
<function subtraction at 0x0000023D4B88B1F0>
<class 'function'>

In [30]:
def num(a):
    'This function return the value given by you'
    print('The number you give is = ',a)
    return
num(34)
num(78)
print(num.__doc__)

The number you give is =  34
The number you give is =  78
This function return the value given by you

In [31]:
for i in[2,3,4,5]:
    num(i)

The number you give is =  2
The number you give is =  3
The number you give is =  4
The number you give is =  5

In [36]:
def com_int(principle,rate,year):
    ci = 0
    for i in range(year):
        ci += principle*rate/100
        principle=principle+ci
    return  ci
print('My ci of rs100 with rate 10% for 3 years is',com_int(100,10,3))

My ci of rs100 with rate 10% for 3 years is 34.1

In [39]:
principle=float(input('Enter the principle amount = '))
rate=float(input('Enter the rate of  interest = '))
year=int(input('Enter the year = '))
print(f'The Compound interest for rs{principle} ,with rate of interest {rate} for year {year} is =  ',com_int(principle,rate,year))

Enter the principle amount =  200
Enter the rate of  interest =  10
Enter the year =  3

The Compound interest for rs200.0 ,with rate of interest 10.0 for year3 is  68.2

In [2]:
def sub(a,b):
    'This function is  basically subtracting two values given by you'
    print(f'The value of a is = {a}')
    print(f'The value of b is = {b}')
    print('The total is = ',a-b)
    
sub(4,2)

The value of a is = 4
The value of b is = 2
The total is =  2

In [4]:
def add(a,b,c):
    'This function is basically adding thrice values give by you'
    return a+b+c

a=add(12,24,36)
print(f'The total is = {a}')

The total is = 72

In [15]:
ac=add(12,23,45)
print('The sum is = ',ac)
print(type(ac))
print(add.__doc__)

The sum is =  80
<class 'int'>
This function is basically adding thrice values give by you

In [16]:
for z in[29.3,56,3.3,5,6]:
    print(z)

29.3
56
3.3
5
6

In [3]:
# pass by reference
def changeless(list):
    'In this function the reference would be the same.'
    list.append(90)
    print('id in my function',id(list))
    print('my list values inside the function',list)
    
b=[12,24,36,48,58,66,77,88]
print('id of b ',id(b))
print('Values of b before calling to fuction',b)

changeless(b)

print('id of b after calling',id(b))
print('Values of b after calling to function',b)

id of b  2908548827456
Values of b before calling to fuction [12, 24, 36, 48, 58, 66, 77, 88]
id in my function 2908548827456
my list values inside the function [12, 24, 36, 48, 58, 66, 77, 88, 90]
id of b after calling 2908548827456
Values of b after calling to function [12, 24, 36, 48, 58, 66, 77, 88, 90]

In [2]:
def changeless(list):
    list.append(90)
    print(id(list))
    print(list)
    
b=[12,23]
print('before',id(b))
print('before calling',b)

changeless(b)
print('after call',id(b))
print('after call',id(list))
print(b)

before 2908548827136
before calling [12, 23]
2908548827136
[12, 23, 90]
after call 2908548827136
after call 140725681228528
[12, 23, 90]

In [6]:
# pass by value

def changelist(a):
    'This function change the reference of varible a after we declare a as a new variable.'
    
    print('In function before new value was assigned ',id(a))
    
    a=[12,23,44]
    print('In function after new value was assigned',id(a))
    print('Values of a in function are ',a)
    
b=[67,89,90,56]

print('id of b before calling to function',id(b))
print('Values before calling to function',b)

changelist(b)

print('id of b after calling to function ',id(b))
print('Values after calling to function',b)

id of b before calling to function 2908548828608
Values before calling to function [67, 89, 90, 56]
In function before new value was assigned  2908548828608
In function after new value was assigned 2908548828032
Values of a in function are  [12, 23, 44]
id of b after calling to function  2908548828608
Values after calling to function [67, 89, 90, 56]

In [12]:
def sum_maker(mylist):
    list1=0
    for num in mylist:
        list1+=num
        # list1=list1+num  
    return list1

print('The addtion of 44+33+56+78 is = ',sum_maker([44,33,56,78]))

The addtion of 44+33+56+78 is =  211

In [18]:
def num_finder(num):
    if num>0:
        print(f'The number passed by  you is {num}. It"s a positive number')
    elif num<0:
         print(f'The number passed by  you is {num}. It"s a negative number')
    else:
        print(f'The number passed by you is {num} ')

num_finder(8)

The number passed by  you is 8. It"s a positive number

In [ ]:
'''
There are 4 types of arguments in function which are:
1) Required arguments
2) Default arguments
3) Keywords arguments
4) Variable-length arguments
'''

In [26]:
# 1.required arguments. if you pass more then 2 arguments , it will give you the type error
def myfun(a,b):
    'This function give the sum of two values given by you'
    return a+b

x=int(input('Enter the value of a = '))
y=int(input('Enter the value of b = '))
c=myfun(x,y)

# c=myfun(x,y,z) # If i run this program.It will give me the type error because i pass 2 arguments and i want to add 3 values . It is not possible.
#c=myfun(12,23,33)
print(f'The total sum of your given values is = {c}')

Enter the value of a =  56
Enter the value of b =  78

The total sum of your given values is = 134

In [35]:
# 2.default arguments.

#def myfun(a,b=45):
def myfun(a=50,b=45):
    
    return a-b
a=myfun()
# a=myfun(90,89)
print(a)

5

In [40]:
# default arguments.

def good(name,sep='How are you?'):
    print('Hi',name, ',',sep)
    
good('Will')
#good('Will','Hope you are fine')

Hi Will , How are you?

In [48]:
# 3.keyword arguments

def key(a,b):
    return a-b

c=key(b=9,a=13)  #right method
# c=key(9,14)  #wrong method

print(c)

4

In [50]:
# 3.keywords arguments

def div(a,b):
    return a/b
c=div(b=2,a=4)
print(c)

2.0

In [2]:
# 4.variable-length arguments
def info(x,*value):
    print('Output is :', x,end=' ')
    
    for val in value:
        print(val,end=" ")
        
info(12,23,434,344,34)

Output is : 12 23 434 344 34

In [6]:
# 4.variable-length arguments
def length(a,*value):
    print('Output is :',a,end=' ')
    for val in value:
        print(val,end=' ')
length(12,24,36,78,90)

Output is : 12 24 36 78 90

In [65]:
length(34,90.4,-34)

Output is : 34 90.4 -34 Output is : 4

In [66]:
length(4)

Output is : 4

In [7]:
#4. variable-length arguments

def a(na,*sums):
    number=na
    for sum in sums:
        number=number+sum
        print('The ans is =',number)
a(12,24,45)

The ans is = 36
The ans is = 81

In [ ]:
'''
Now we study about one more function. which is Anonymous function. It is basically an inline function . It's use us to written short
type of codes
'''

In [3]:
myadd=lambda n1,n2:n1+n2
print(type(lambda n1,n2:n1+n2))
print(myadd)
myadd(12,24)

<class 'function'>
<function <lambda> at 0x0000019E05B955E0>

36

In [4]:
mysub=lambda s1,s2:s1-s2
mysub(95,90)

5

In [5]:
mymul=lambda m1,m2:m1*m2
mymul(96,98)

9408

In [6]:
mydiv=lambda d1,d2:d1/d2
mydiv(4,2)

2.0

local variable and global variable

In [10]:
def fun(n1,n2):
    total=n1+n2  #local variable
    print('The id of inside  local total function is = ',id(total))
    print('Sum of inside total is = ',total)
    
total=5 #global variable
print('The id of outside global total function is = ',id(total))

fun(10,15)
# total=5
print('Sum of outside total is = ',total)
print('id of global ',id(total))

The id of outside global total function is =  1604154098032
The id of inside  local total function is =  1604154098672
Sum of inside total is =  25
Sum of outside total is =  5
id of global  1604154098032

In [11]:
a=2
b=a
print(id(a))
print(id(b))

1778125924688
1778125924688

In [13]:
print(id(2))
print(a)
print(b)

1778125924688
2
2

In [14]:
a=4
print(id(a))
print(a)
print('value of b is ',b)
print('id of b ',id(b))

1778125924752
4
value of b is  2
id of b  1778125924688

In [12]:
total=4
print(id(total))
def sum(s1,s2):
    global total    #if you comment out this outside function value will be 4 . global is keyword .
    total=s1+s2
    print('Id of total inside the total',id(total))
    print('Value of total inside the function',total)
    
sum(12,24)
print('Value of toatal outside the function',total)

1604154098000
Id of total inside the total 1604154099024
Value of total inside the function 36
Value of toatal outside the function 36

In [20]:
for _ in range(10):
    print('this underscore is ok',_)

this underscore is ok 0
this underscore is ok 1
this underscore is ok 2
this underscore is ok 3
this underscore is ok 4
this underscore is ok 5
this underscore is ok 6
this underscore is ok 7
this underscore is ok 8
this underscore is ok 9

In [26]:
class MyClass:     #whenever you call class the first letter would be in capital
    'This is Myclass function which prints "Hello" '
    a=100  #class variable or class attribute
    
    def myMethod(self):  #Any function defined in class is known as instance/object or method
        print(f'Hello , called by {self}')
        
obj1 = MyClass()
obj2 = MyClass()

print('Obj1 of a is : ',obj1.a)
print('Obj2 of a is : ',obj2.a)

print(id(obj1.a))
print(id(obj2.a))

obj1.a=200

print('Obj1 of a is : ',obj1.a)
print('Obj2 of a is : ',obj2.a)

print(id(obj1.a))
print(id(obj2.a))

print(obj1)
print(obj2)

obj1.myMethod()
obj2.myMethod()

obj3= MyClass()
print(obj3.a)
print(obj3)
obj3.myMethod()

Obj1 of a is :  100
Obj2 of a is :  100
1778126116304
1778126116304
Obj1 of a is :  200
Obj2 of a is :  100
1778126119568
1778126116304
<__main__.MyClass object at 0x0000019E06D7F550>
<__main__.MyClass object at 0x0000019E06D83220>
Hello , called by <__main__.MyClass object at 0x0000019E06D7F550>
Hello , called by <__main__.MyClass object at 0x0000019E06D83220>
100
<__main__.MyClass object at 0x0000019E06B8CDC0>
Hello , called by <__main__.MyClass object at 0x0000019E06B8CDC0>

In [34]:
class MyClass:
    a=100
    def myMethod(self):
        print(f'Hello , called by {self}')

obj1=MyClass()
obj2=MyClass()

print('obj1 a is : ',obj1.a)
print('obj2 a is : ',obj2.a)

print(id(obj1.a))
print(id(obj2.a))

obj1.a=200
print('obj1 a is : ',obj1.a)
print('obj2 a is : ',obj2.a)

print(id(obj1.a))
print(id(obj2.a))

print(obj1)
print(obj2)

obj1.myMethod()
obj2.myMethod()
    
obj3=MyClass()
print(obj3.a)
print(id(obj3.a))
print(obj3)
obj3.myMethod()

obj1 a is :  100
obj2 a is :  100
1778126116304
1778126116304
obj1 a is :  200
obj2 a is :  100
1778126119568
1778126116304
<__main__.MyClass object at 0x0000019E06C65DF0>
<__main__.MyClass object at 0x0000019E06D0CBB0>
Hello , called by <__main__.MyClass object at 0x0000019E06C65DF0>
Hello , called by <__main__.MyClass object at 0x0000019E06D0CBB0>
100
1778126116304
<__main__.MyClass object at 0x0000019E06B8CF70>
Hello , called by <__main__.MyClass object at 0x0000019E06B8CF70>

In [43]:
class MyClass1:
    'This is myclass1 with function which prints "hello" '
    def __init__(self,a=100,type="Basic"):
        self.type=type
        self.a=a
        print(f'object {self} is created')
        
    def myfunc(self):
        print(f'Hello called by {self}, value of a is {self.a} ant it"s type is {self.type}')
              
obj3=MyClass1()
obj4=MyClass1(type='Enhanced')
obj5=MyClass1(200,'golden')

print('Object 3 type is : ',obj3.type)
print('Object 4 type is : ',obj4.type)
print('Object 5 type is : ',obj5.type)

obj3.myfunc()
obj4.myfunc()
obj5.myfunc()

object <__main__.MyClass1 object at 0x0000019E06E46B80> is created
object <__main__.MyClass1 object at 0x0000019E06B8C340> is created
object <__main__.MyClass1 object at 0x0000019E06E46220> is created
Object 3 type is :  Basic
Object 4 type is :  Enhanced
Object 5 type is :  golden
Hello called by <__main__.MyClass1 object at 0x0000019E06E46B80>, value of a is 100 ant it"s type is Basic
Hello called by <__main__.MyClass1 object at 0x0000019E06B8C340>, value of a is 100 ant it"s type is Enhanced
Hello called by <__main__.MyClass1 object at 0x0000019E06E46220>, value of a is 200 ant it"s type is golden

In [46]:
class ComplexNumber:
    def __init__(self,r=0,i=0):
        self.real=r
        self.imag=i
        print('Init method called')
    def getdata(self):# Instance method, or Object method
        print(f'{self.real}+{self.imag}j')
        
c1=ComplexNumber()
c2=ComplexNumber(6,9)
c3=ComplexNumber(23,56)

c1.getdata()
c2.getdata()
c3.getdata()

c1.real=34
c1.imag=23
c1.getdata()

c2.real=54
c2.imag=30
c2.getdata()

Init method called
Init method called
Init method called
0+0j
6+9j
23+56j
34+23j
54+30j

In [50]:
class ComplexNumber:
    def __init__(self,r=0,i=0):
        self.real=r
        self.imag=i
        print('Init method called')
    # def getdata(self):# Instance method, or Object method
    #     print(f'{self.real}+{self.imag}j')
        
    def __str__(self):
        return(f'{self.real}+{self.imag}j')
    
    
        
c1=ComplexNumber()
c2=ComplexNumber(6,9)
c3=ComplexNumber(23,56)

# c1.getdata()
# c2.getdata()
# c3.getdata()

print(c1)
print(c2)
print(c3)

c1.real=34
c1.imag=23
# c1.getdata()
print(c1)

c2.real=54
c2.imag=30
# c2.getdata()
print(c2)

Init method called
Init method called
Init method called
0+0j
6+9j
23+56j
34+23j
54+30j

In [24]:
class MyClass2:
    'This is myclass with function which prints "hello"'
    
    def __init__(self,type='Basic'):
        self.type=type
    def myfunc(self):
        print(f'Hello called by {self}')
    @classmethod
    def myClassMethod(cls,myvalue=55):
        cls.value = myvalue
        print('My value is : ',cls.value,cls)
        
    @staticmethod  #static method,takes no ref,any object can call without ref
    def myStaticMethod():
        print('Calling static method')
        
obj3=MyClass2()
obj4=MyClass2('Enhanced')
obj3.myClassMethod()
obj4.myClassMethod()

obj3.myvalue=20
obj3.myClassMethod(100)
obj3.myfunc()
obj4.myClassMethod()
obj3.myStaticMethod()
obj4.myStaticMethod()

print('Obj3 type is :',obj3.type)
print('Obj4 type is :',obj4.type)

My value is :  55 <class '__main__.MyClass2'>
My value is :  55 <class '__main__.MyClass2'>
My value is :  100 <class '__main__.MyClass2'>
Hello called by <__main__.MyClass2 object at 0x000001C6385B5D00>
My value is :  55 <class '__main__.MyClass2'>
Calling static method
Calling static method
Obj3 type is : Basic
Obj4 type is : Enhanced

In [4]:
class Employee:
    'Common base class for all employees'
    empCount=0 #class variable or global variable
    
    def __init__(self,name,salary,dob):  #object constructor
        self.name=name
        self.salary=salary
        self.dob=dob
        Employee.empCount+=1
        
    def displayCount(self):  #instance method
        print(f'Total Employee Count is {Employee.empCount}')
        
    def displayEmployee(self):  
        print('Name:',self.name,'Salary:',self.salary,'Date-of-Birth : ',self.dob)
        
    def removeEmployee(self):
        print('Employee named ',self.name ,'removed')
        del self
        Employee.empCount-=1

In [2]:
print(Employee.empCount)

0

In [6]:
emp1=Employee('Krishna',20000,'08-06-2005')

In [7]:
print(Employee.empCount)

1

In [8]:
emp2=Employee('Rishi',55000,'13-12-1995')
emp2.displayCount()
emp1.displayEmployee()
emp2.displayEmployee()

Total Employee Count is 2
Name: Krishna Salary: 20000 Date-of-Birth :  08-06-2005
Name: Rishi Salary: 55000 Date-of-Birth :  13-12-1995

In [9]:
emp3=Employee('Aniket',80000,'04-02-1994')
emp3.displayEmployee()
print('Total Number of employees in company are : ',Employee.empCount)

Name: Aniket Salary: 80000 Date-of-Birth :  04-02-1994
Total Number of employees in company are :  3

In [10]:
emp2.removeEmployee()
print('Total Number of employees in company are : ',Employee.empCount)
emp2.displayEmployee()

Employee named  Rishi removed
Total Number of employees in company are :  2
Name: Rishi Salary: 55000 Date-of-Birth :  13-12-1995

Practices of object

In [8]:
class MyClass:
    'This is myclass function which gonna print hello'
    a=100
    def myMethod(self):
        print(f'Hello, Called By {self}')
obj1=MyClass()
obj2=MyClass()
print('Obj1 a is = ',obj1.a)
print('Obj2 a is = ',obj2.a)

print(id(obj1.a))
print(id(obj2.a))

obj1.a=200
print('Obj1 a is = ',obj1.a)
print('Obj2 a is = ',obj2.a)

print(id(obj1.a))
print(id(obj2.a))
obj1.myMethod()
obj2.myMethod()
obj3=MyClass()
print(obj3.a)
print(id(obj3.a))
obj3.myMethod()

Obj1 a is =  100
Obj2 a is =  100
1950755739088
1950755739088
Obj1 a is =  200
Obj2 a is =  100
1950755742352
1950755739088
Hello, Called By <__main__.MyClass object at 0x000001C6384CA5B0>
Hello, Called By <__main__.MyClass object at 0x000001C6384CA7F0>
100
1950755739088
Hello, Called By <__main__.MyClass object at 0x000001C638564970>

In [13]:
class MyClass1:
    'This is myclass1 function which gonna print hello'
    def __init__(self,a=100,type="Basic"):
        self.a=a
        self.type=type
        print(f'The value of a is : {self.a} and It"s Type is : {self.type}')
        
    def myfunc(self):
        print(f'Hello , called by {self} value of a is : {self.a} and It"s Type is : {self.type}')
        
obj3=MyClass1()
obj4=MyClass1(type="Enhanced")
obj5=MyClass1(500,'golden')

print(id(obj3))
print(id(obj4))
print(id(obj5))

print(obj3)
print(obj4)
print(obj5)

obj3.myfunc()
obj4.myfunc()
obj5.myfunc()

The value of a is : 100 and It"s Type is : Basic
The value of a is : 100 and It"s Type is : Enhanced
The value of a is : 500 and It"s Type is : golden
1950859700592
1950859698768
1950862230672
<__main__.MyClass1 object at 0x000001C6384CA970>
<__main__.MyClass1 object at 0x000001C6384CA250>
<__main__.MyClass1 object at 0x000001C638734490>
Hello , called by <__main__.MyClass1 object at 0x000001C6384CA970> value of a is : 100 and It"s Type is : Basic
Hello , called by <__main__.MyClass1 object at 0x000001C6384CA250> value of a is : 100 and It"s Type is : Enhanced
Hello , called by <__main__.MyClass1 object at 0x000001C638734490> value of a is : 500 and It"s Type is : golden

In [20]:
class ComplexNumber:
    'This function is gonna print complex number'
    def __init__(self,r=0,i=0):
        self.real=r
        self.imag=i
        print('Object is created')
    
       
    def __str__(self):
        return (f'{self.real}+{self.imag}j')
    

num1=ComplexNumber()
num2=ComplexNumber(56,34)
num3=ComplexNumber(45,23)

print(id(num1))
print(id(num2))
print(id(num3))

# num1.mynum()
# num2.mynum()
# num3.mynum()
print(num1)
print(num2)
print(num3)


# num1.real=56
# num1.imag=45
# num1.mynum()
print(num1)

Object is created
Object is created
Object is created
1950860821840
1950862072848
1950862049184
0+0j
56+34j
45+23j
0+0j

In [38]:
class MyClass3:
    'The function is about the new class method and static method'
    def __init__(self,type='Basic'):
        self.type=type
    def myfunc(self):
        print(f'Hello Called by{self}')
    @classmethod
    def classmethod(cls,myvalue=200):
        cls.value=myvalue
        print(f'The class value is {cls.value} and reference is {cls}')
        
    @staticmethod    
    def staticmethod():
        print('Static Method Called')
        
obj3=MyClass3(type='Enhanced')
obj4=MyClass3()

obj3.classmethod()
obj4.classmethod()
obj3.classmethod(456)
obj4.classmethod(563)
obj3.staticmethod()
obj4.staticmethod()

obj3.myfunc()
obj3.myfunc()

print(f'The type of obj3 is {obj3.type}')
print(f'The type of obj4 is {obj4.type}')

The class value is 200 and reference is <class '__main__.MyClass3'>
The class value is 200 and reference is <class '__main__.MyClass3'>
The class value is 456 and reference is <class '__main__.MyClass3'>
The class value is 563 and reference is <class '__main__.MyClass3'>
Static Method Called
Static Method Called
Hello Called by<__main__.MyClass3 object at 0x000001C6384CABB0>
Hello Called by<__main__.MyClass3 object at 0x000001C6384CABB0>
The type of obj3 is Enhanced
The type of obj4 is Basic

In [1]:
class employee:
    empCount=0
    def __init__(self,name,salary,dob):
        self.name=name
        self.salary=salary
        self.dob=dob
        employee.empCount+=1
        
    def empcount(self):
        print(f'Total Number of employees in count are : {employee.empCount}')
        
    def empdisp(self):
        print(f'Name : {self.name}, Salary : {self.salary},D-O-B : {self.dob}')
        
    def emprem(self):
        print(f'Employee {self.name} is removed')
        del self
        employee.empCount-=1

In [2]:
employee.empCount

0

In [3]:
emp1=employee('Krishna',20000,'08-06-2005')
print(emp1.empdisp())
employee.empCount

Name : Krishna, Salary : 20000,D-O-B : 08-06-2005
None

1

In [4]:
emp2=employee('Jack',23000,'18-4-2002')
print(emp2.empdisp())
employee.empCount

Name : Jack, Salary : 23000,D-O-B : 18-4-2002
None

2

In [5]:
print(emp1.empdisp())
print(emp2.empdisp())

Name : Krishna, Salary : 20000,D-O-B : 08-06-2005
None
Name : Jack, Salary : 23000,D-O-B : 18-4-2002
None

In [6]:
emp3=employee('Risabh',45000,'2-10-2000')
print(emp3.empdisp())
employee.empCount

Name : Risabh, Salary : 45000,D-O-B : 2-10-2000
None

3

In [7]:
emp2.emprem()
print('Total number of employees in company are :',employee.empCount)

Employee Jack is removed
Total number of employees in company are : 2

In [8]:
emp2.empdisp()

Name : Jack, Salary : 23000,D-O-B : 18-4-2002