In [12]:
string='KRISHNA'
print(string[2])
print(string.lower())

I
krishna

In [6]:
name='krishna agrawal'
name1='shiv mehta'

print(name.capitalize())
print(name1.capitalize())

Krishna agrawal
Shiv mehta

In [17]:
name='krishna agrawal'
#print('*'.center(80,'-'))
#print(name.center(80,' '))
print(name.center(80,'-'))

print(name.rjust(80,'*'))
print(name.ljust(100,'+'))

---------------------------------------*----------------------------------------
*****************************************************************krishna agrawal
krishna agrawal+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

In [27]:
str='This is string'
print('The length of string is = ',len(str))
print(str.count('e'))

The length of string is =  14
0

In [35]:
str='This\tis an\nexample of\tstring\nHope!you\tlearnwell'

#str=r'This\tis an\nexample of\tstring\nHope!you\tlearnwell'

# r means raw 


print(str)

str=(str.encode('UTF-8','strict'))
#encode meaning is that it gives the binary format
print(str)

This	is an
example of	string
Hope!you	learnwell
b'This\tis an\nexample of\tstring\nHope!you\tlearnwell'

In [47]:
import base64
str='This is an example of safe file transferrig'
str=str.encode('UTF-8','strict')
Str=base64.b64encode(str)
print('Encoded string',Str)

Encoded string b'VGhpcyBpcyBhbiBleGFtcGxlIG9mIHNhZmUgZmlsZSB0cmFuc2ZlcnJpZw=='

In [48]:
Str=Str.decode('utf-8',errors='strict')
Str=base64.b64decode(Str)
print('Decoded String',Str)

Decoded String b'This is an example of safe file transferrig'

In [54]:
str='Hello Everyone My Name Is Krishna Agrawal!'
k='!'
print(str.endswith(k))

True

In [59]:
# This method known as concatination
Str='Agrawal'
print('Hi my name is Krishna '+Str)

Hi my name is Krishna Agrawal

In [63]:
name='Sharma'
print('OK! your name is Rohit'+name)
print(Str+'....')

OK! your name is RohitSharma
Agrawal....

In [73]:
k='krishna '
print(4*k)
a='agrawal'
print(k+a)

krishna krishna krishna krishna
krishna agrawal

In [90]:
str='\tH\te\tllo My\tN\tame Is\tKrishn\tAgrawal'

print(str.expandtabs(8))

        H       e       llo My  N       ame Is  Krishn  Agrawal

In [99]:
str='Welcome To The Python Programming Language'
str1='is'
print (str.find('m'))
print (str.rfind('e')) #r means reverse

5
41

In [101]:
str='We are doing python programming' # it gives false when you give white space , so don't give space 
str='Helloeveryone'
print(str.isalnum())

True

In [103]:
str='he'
print(str.isalpha())

True

In [108]:
str="234"
str='3,2,3' # when you run this statement it also gives the false because the special characters are involved in this process
print(str.isdigit())

True

In [112]:
name='Krishna'
print(name.isupper())
print(name.upper())

False
KRISHNA

In [114]:
name='KRISHNA'
print(name.islower())
print(name.lower())

False
krishna
False

In [133]:
name='-krishna-'
l='-'
s=['a','b','c','d']
print(name.join(s))
print(l.join(s))

a-krishna-b-krishna-c-krishna-d
a-b-c-d

In [135]:
name='krishna'
print(name.ljust(45,'*'))

krishna**************************************

In [141]:
# This was an old method for translating

intab='si'
outtab='AZ'

str='This is string example ! WoW!!'
transtab=(str.maketrans(intab,outtab))
print(transtab)
print(str.translate(str.maketrans(transtab)))

{115: 65, 105: 90}
ThZA ZA AtrZng example ! WoW!!

In [142]:
print(max(str))

x

In [146]:
print(str.replace('s','a'))

Thia ia atring example ! WoW!!

In [157]:
str='This was an example of string'
str1=str.split()
print(str1)
print(' '.join(str))

['This', 'was', 'an', 'example', 'of', 'string']
T h i s   w a s   a n   e x a m p l e   o f   s t r i n g

In [165]:
#str1=str.split(' ',1)
str1=str.split('was ',1)
print(str1)

['This ', 'an example of string']

In [166]:
str='this,was,an,example,of string'
str1=str.split(',',2)
print(str1)

['this', 'was', 'an,example,of string']

In [168]:
# The swap case converts the capital letter into small and small into capital

str='This was an example of stRinG'
str1=str.swapcase()
print(str1)

tHIS WAS AN EXAMPLE OF STrINg

In [174]:
#slicing rule

str='The today is monday'
#str1=str[1:11:2]
str1=str[0:18:2]
print(str1)

Tetdyi od

In [179]:
str='e:\krishna agrawal'
print(str)

e:\krishna agrawal

In [188]:
f_name='Krishna'
l_name='agrawal'
age=17
print("MY first name is : %s and my last name is : %s and my age is : %d" %(f_name,l_name,age)) #old method
print(f'My first name is : {f_name} and my last name is : {l_name} and my age is : {age}') # new method

# f means 'formatted string' and if you don't put f first,the program will not give the output that you want

MY first name is : Krishna and my last name is : agrawal and my age is : 17
My first name is : Krishna and my last name is : agrawal and my age is : 17

In [192]:
str1='Krishna '
str2='Agrawal'
age=17
print(f'Hello Everone my name is : {str1+str2}\n My age is : {age}')

Hello Everone my name is : Krishna Agrawal
 My age is : 17

In [204]:
str1='Krishna '
str2='Agrawal'
salary=17.3432
print(f'Hello Everone my name is : {str1+str2}\n My age is : {salary}')  
print(f'Hello Everone my name is : {str1+str2}\n My age is : {salary:.2f}')  #for decimal

Hello Everone my name is : Krishna Agrawal
 My age is : 17.3432
Hello Everone my name is : Krishna Agrawal
 My age is : 17.34

In [203]:
salary=3453
print(f'My salary is :{salary:#0x}')  #for hexa
print(f'My salary is :{salary:b}')  #for binary
print(f'My salary is :{salary:o}')  #for octal

My salary is :0xd7d
My salary is :110101111101
My salary is :6575

In [3]:
print(range(5))
print(type(range(5)))

range(0, 5)
<class 'range'>

In [17]:
r=tuple(range(1,150,2))

print(r)

(1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149)

In [19]:
str= ''' Hello everyone I am Krishna Agrawal
                    I am learning python programming
        and with python i also learning html,css,javascript
           Today date and day is 3-10-2022 , MONDAY
    TIME:10:26 P.M. '''
print(str)

 Hello everyone I am Krishna Agrawal
                    I am learning python programming
        and with python i also learning html,css,javascript
           Today date and day is 3-10-2022 , MONDAY
    TIME:10:26 P.M.

In [ ]:
folder='D:\\c language'
print(folder)

In [6]:
x=20;y=23
print(f'{x = }\n{y = }')

x = 20
y = 23

In [2]:
a=int(input('Enter the value of x = ')) 
b=int(input('Enter the value of y = '))
print('The value of x is = ',a)
print('The value of y is = ',b)
print('The total is = ',a+b)

Enter the value of x =  45
Enter the value of y =  45

The value of x is =  45
The value of y is =  45
The total is =  90

In [11]:
salary=153
print(f'{salary:b}')

10011001

In [17]:
apple_market=32.3233 * 10e12
print(f'{apple_market: ,}') #comma separate

 323,233,000,000,000.06

In [21]:
percentage=83.2367134151
print(f'{percentage:.3%}') #percentage

8323.671%

In [1]:
import datetime
today = datetime.datetime.utcnow()
print(f'datetime:{today}\n')

print(f'datetime:{today: %m/%d/%Y %H:%M:%S}')
print(f'date: {today:%m/%d/%Y}')
print(f'time: {today:%H:%M:%S.%f}')
print(f'time: {today:%H:%M:%S %p}')
print(f'time: {today:%H:%M}')

datetime:2022-10-06 07:10:19.594034

datetime: 10/06/2022 07:10:19
date: 10/06/2022
time: 07:10:19.594034
time: 07:10:19 AM
time: 07:10

In [3]:
str='This Is An Example Of String'
str1='This is an example of string'
print(str.istitle())
print(str1.istitle())

True
False

In [6]:
str='* * * * * * * * * * * * Hello Everyone I Am Krishna Agrawal'
print(str.lstrip())

* * * * * * * * * * * * Hello Everyone I Am Krishna Agrawal