In [8]:
a=[12,34,23,'krishna',56,[45,[34,43,22],78,90]]
print(type(a))
print(a[5][1][2])

<class 'list'>
22

In [9]:
ml=[23,56,78,90]
sublist=[34,22,ml,56]
print(type(sublist))
print(sublist)

<class 'list'>
[34, 22, [23, 56, 78, 90], 56]

In [30]:
list1=[45,23,'krishna',56,[1,2,3]]
list2=[42,67,89,90]
list1.append('agrawal')
print(list1)

[45, 23, 'krishna', 56, [1, 2, 3], 'agrawal']

In [31]:
list1.append(list2)
print(list1)

[45, 23, 'krishna', 56, [1, 2, 3], 'agrawal', [42, 67, 89, 90]]

In [32]:
#extend work is to separate
list1.extend('krishna')
print(list1)

[45, 23, 'krishna', 56, [1, 2, 3], 'agrawal', [42, 67, 89, 90], 'k', 'r', 'i', 's', 'h', 'n', 'a']

In [33]:
list1.extend(list2)
print(list1)

[45, 23, 'krishna', 56, [1, 2, 3], 'agrawal', [42, 67, 89, 90], 'k', 'r', 'i', 's', 'h', 'n', 'a', 42, 67, 89, 90]

In [34]:
list1.remove([1,2,3])
print(list1)

[45, 23, 'krishna', 56, 'agrawal', [42, 67, 89, 90], 'k', 'r', 'i', 's', 'h', 'n', 'a', 42, 67, 89, 90]

In [35]:
mylist=[12,45,8.9,3,2.2,-23]

mylist.sort()
print(mylist)

[-23, 2.2, 3, 8.9, 12, 45]

In [36]:
mylist.reverse()
print(mylist)

[45, 12, 8.9, 3, 2.2, -23]

In [43]:
# pop 
personallist=[34,56,21,90,34,7.2]
mynum=personallist.pop(0)
print(personallist)

[56, 21, 90, 34, 7.2]

In [44]:
mylist=[34,1,24,90,14]
min(mylist)

1

In [45]:
max(mylist)

90

In [48]:
name='krishna agrawal'
l1=list(name)
print(l1)

['k', 'r', 'i', 's', 'h', 'n', 'a', ' ', 'a', 'g', 'r', 'a', 'w', 'a', 'l']

In [55]:
mylist=[12,23,45,56,77]

#print(mylist[start:stop:step])

#start means the number you want to start
#stop means the number you want to stop on 2 then it will print 12,23,45
#step means it take value  the number you choose, suppose i give 2 it will direct get 2 second element  

print(mylist[0::2])

[12, 45, 77]

In [57]:
print(mylist[2:5])

[45, 56, 77]

In [58]:
print(mylist[2: :2])

[45, 77]

In [61]:
print(mylist[::-1])

[77, 56, 45, 23, 12]

In [62]:
mylist=[2,23,34,45,56,6,8,7]
print("The 5th element i deleted is = ",mylist.pop(5))

The 5th element i deleted is =  6

In [63]:
mytupple=(45,32,23,56)
print(mytupple)

(45, 32, 23, 56)

In [69]:
mytupple[2]=45
print(mytupple)

TypeError: 'tuple' object does not support item assignment

In [71]:
t1=(mytupple,34,23,mylist)
print(t1)

((45, 32, 23, 56), 34, 23, [2, 23, 34, 45, 56, 8, 7])

In [72]:
t1[3][1]=56
print(t1)

((45, 32, 23, 56), 34, 23, [2, 56, 34, 45, 56, 8, 7])

In [73]:
#dict = {}
dict=dict()
print(type(dict))
print(dict)

<class 'dict'>
{}

In [82]:
dict['rd']='red'
print(len(dict))
print(dict)

1
{'rd': 'red'}

In [84]:
dict['bl']='blue'
dict['yl']='yellow'
print(dict['rd'])
print(dict['bl'])
print(dict['yl'])

red
blue
yellow

In [98]:
for x in dict:
    print(x)
    print(dict[x])

rd
red
bl
blue
yl
yellow

In [97]:
print(dict.keys())
print(type(dict.keys()))

dict_keys(['rd', 'bl', 'yl'])
<class 'dict_keys'>

In [100]:
print(dict.values())
print(type(dict.values()))

dict_values(['red', 'blue', 'yellow'])
<class 'dict_values'>

In [114]:
dict={'name':'Krishna Agrawal','age':'17','D-O-B':'08-06-2005'}
print("The name is : ",dict['name'] ,'\nThe age is : ',dict['age'],"\nDate of birth is : ",dict['D-O-B'])

The name is :  Krishna Agrawal
The age is :  17
Date of birth is :  08-06-2005

In [118]:
dict2={'name':'Anil Agrawal','age':'43','D-O-B':'28-08-1979'}
print("The name is : ",dict2['name'],"\nThe age is : ",dict2['age'],"\nThe Date of birth is : ",dict2['D-O-B'])

The name is :  Anil Agrawal
The age is :  43
The Date of birth is :  28-08-1979

In [122]:
mydict=(dict,dict2)
print(mydict)
print(type(mydict))

({'name': 'Krishna Agrawal', 'age': '17', 'D-O-B': '08-06-2005'}, {'name': 'Anil Agrawal', 'age': '43', 'D-O-B': '28-08-1979'})
<class 'tuple'>

In [127]:

print(mydict[0]['name'],mydict[1]['age'])
print(mydict[1]['name'],mydict[1]['age'])

Krishna Agrawal 43
Anil Agrawal 43

In [130]:
mydictstr=str(mydict)
print(type(mydictstr))
print(mydictstr)

<class 'str'>
({'name': 'Krishna Agrawal', 'age': '17', 'D-O-B': '08-06-2005'}, {'name': 'Anil Agrawal', 'age': '43', 'D-O-B': '28-08-1979'})

In [132]:
dict['country']='india'
print(dict)

{'name': 'Krishna Agrawal', 'age': '17', 'D-O-B': '08-06-2005', 'country': 'india'}

In [149]:
dict3={'like':'sports'}
dict.update(dict3)
print(dict)
print(dict3)

{'name': 'Krishna Agrawal', 'age': '17', 'D-O-B': '08-06-2005', 'country': 'india', 'like': 'sports'}
{'like': 'sports'}

In [151]:
dict3['type']='indoor'
print(dict3)

{'like': 'sports', 'type': 'indoor'}

In [152]:
del(dict3['type'])
print(dict3)

{'like': 'sports'}

In [156]:
name=list('krishna')
print(name)
del(name[1])
print(name)

['k', 'r', 'i', 's', 'h', 'n', 'a']
['k', 'i', 's', 'h', 'n', 'a']

In [157]:
import math
num = math.asinh(20)
print(num)

3.6895038689889055

In [158]:
math.factorial(5)

120

In [160]:
math.fsum([12,23,34,56])

125.0

In [161]:
math.ceil(4.23)

5

In [163]:
math.floor(45.23)

45

In [175]:
import random
n=random.random()
print(n)

0.3960057700857115

In [177]:
number=random.randint(1,200)
print(number)

12

In [182]:
number=int(input('Enter Any Number Between 1 to 100 : '))
Comp=random.randint(1,100)
print(Comp)
if number == Comp:
    print('Congratulations You Won The Game')
else:
    print('You Lose The Game')

Enter Any Number Between 1 to 100 :  34

54
You Lose The Game

In [192]:
name=['krishna','shloka','ram','shiva']
choice=random.choice(name)
print(choice)
#choice=random.choice(['GOD'])
#print(choice[1])

ram