In [4]:
a,b,c = 'krishna','anil','agrawal'
print(c)

agrawal

In [7]:
import math
import os
print(math.sin(90))
os.getcwd()

#print(a)

0.8939966636005579

'C:\\Users\\KRISHNA AGRAWAL'

In [8]:
a='hello'
print(a,'world')

hello world

In [9]:
z=100
print('killer',z)

killer 100

In [10]:
c=4
d=9
print(c)

4

In [11]:
x=3
print(u)  
#print(x)

NameError: name 'u' is not defined

In [15]:
a,b,c,d,e,f,g='Krishna'  #sequence assignment . It was aloso known as tupple assingmemt
print(a)
print(b)
print(f)

K
r
n

In [17]:
a,*b='krishna'
print(type(a))
print(a)
print(type(b))
print(b)

<class 'str'>
k
<class 'list'>
['r', 'i', 's', 'h', 'n', 'a']

In [18]:
a=b=5
print(id(a))
print(a)
print(id(b))
print(b)

1533511231920
5
1533511231920
5

In [24]:
a=4
a+=4
print(a)

spam=2
spam+=4
print(spam)

8
6

In [39]:
a=int(input('Enter the value of a = '))
b=int(input('Enter the value of b =' )) 

if a>b:
    print('a is greater')
    if b>a:
        print('b is greater')
   
else:
    print('Both values are same')

Enter the value of a =  3
Enter the value of b = 3

Both values are same

In [50]:
a=int(input('Enter any value = '))
if a==0 :
   print('a is zero')
elif a>=0:
   print(' a value is greater ')
else:
   print('a values in minus')

Enter any value =  -4

a values in minus

In [52]:
if 'y' in 'krishna':
    print('yes')
else:
    print('no')

no

In [54]:
if 1 in {1,2,3}:
    print('yes')
else:
    print('no')

yes

In [55]:
k=3
print('k = ',k)

k =  3

In [56]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [65]:
def addnumber(x,y):  # def means defination of function
    'My this function gives two value given by you'   #-->  This is known as docstrig. It means why you write this function
    print('Addition is ',x+y)
    print('Addition Done')
    return

print(addnumber)
print(type(addnumber))
addnumber(43,55)
print(addnumber)
print(help(addnumber))

<function addnumber at 0x0000016513450670>
<class 'function'>
Addition is  98
Addition Done
<function addnumber at 0x0000016513450670>
Help on function addnumber in module __main__:

addnumber(x, y)
    My this function gives two value given by you

None

In [66]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [69]:
print(addnumber.__doc__)

My this function gives two value given by you

In [75]:
print(4,4,3,24,sep=(','),end=(','))
print('krishna',end=('->->->'))
print('rohan')

4,4,3,24,krishna->->->rohan

In [83]:
a=90
print("---","a=",a,"rish","krish","neel" ,sep=('***'))

---***a=***90***rish***krish***neel

In [91]:
myfile=open("krishna.txt",'w')
a=90
print("---","a=",a,"rish","krish","neel" ,file=myfile)
print('Hello Everyone My Name Is Krishna Agrawa',file=myfile)
print('I Am 17 Years Old',file=myfile)
myfile.close()

In [88]:
import os
print(os.getcwd())
os.chdir('D:\python practice')
print(os.getcwd())

C:\Users\KRISHNA AGRAWAL
D:\python practice

In [94]:
sourcefile=open('krishna.txt')
print(sourcefile.read())
sourcefile.close()

--- a= 90 rish krish neel
Hello Everyone My Name Is Krishna Agrawa
I Am 17 Years Old

In [96]:
try:
    a=int(input('Enter the value of a = '))
    b=int(input('Enter the value of b = '))
    print(type(a))
    print(type(b))
    print('Addition of two numbers is = ',a+b)
except:
    print('In Integers only')
finally:
    print('In')
    
    
# remember the input statement is a string

Enter the value of a =  2.2

In Integers only
In

In [101]:
a=int(input('Enter the value of a = '))
b=int(input('Enter the value of b = '))
print(type(a))
print(type(b))
print('Addition of two numbers is = ',a+b)

Enter the value of a =  2.2

ValueError: invalid literal for int() with base 10: '2.2'

In [105]:
a=list(input('Enter the value of a = '))

print(type(a))

print(a)

Enter the value of a =  2322322

<class 'list'>
['2', '3', '2', '2', '3', '2', '2']

In [106]:
a=tuple(input('Enter the value of a = '))
print(a)

Enter the value of a =  3434343

('3', '4', '3', '4', '3', '4', '3')

In [112]:
num1=input('Enter number = ')
num2=input('Enter 2 number = ')

print('The addition is ',int(num1)+int(num2))
# print('The addition is ',int(num1+num2))

Enter number =  2
Enter 2 number =  2

The addition is  4

In [143]:
income=float(input('Please Enter Your Income = '))
if income>=0 and income<=100:
    print("Comgratulations You Don't Have To Pay Any Tax")
elif income>=101 and income<=500 :
    tax=income*5/100
    income=income+tax
    print(f"You have to pay the tax = {tax}\n")
    print(f"After paying the tax your income will be = {income}")
elif income>=501 and income<=10000 :
    tax=income*10/100
    income=income+tax
    print(f"You have to pay the tax = {tax}\n")
    print(f"After paying the tax your income will be = {income}")
elif income>10001 and income<=50000 :
    tax=income*15/100
    income=income+tax
    print(f"You have to pay the tax = {tax}\n")
    print(f"After paying the tax your income will be = {income}")
else:
    tax=income*20/100
    income=income-tax
    print(f"You have to pay the tax = {tax}\n")
    print(f"After paying the tax your income will be = {income}")

Please Enter Your Income =  100000

You have to pay the tax = 20000.0

After paying the tax your income will be = 80000.0

In [153]:
c=input('Enter Your Gender = ')
age=int(input('Enter Your Age = '))
if c=='f' or c=='F':
    if age>=21:
        print("Congratulations! You Are Elligible For Marriage...")
    else:
         print("You Are Not Elligible For Marriage...")
        
elif c=='m' or c=='M':
    if age>=18:
        print("Congratulations! Your Are Elligible For Marriage...")
    else:
        print("You Are Not Elligible For Marriage...")
else:
    print("Error")

Enter Your Gender =  M
Enter Your Age =  2

You Are Not Elligible For Marriage...

In [1]:
#   Now We Are Learning About for loops and while loops

In [12]:
# f=[20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40]
i=1
# for value in f:
#     print('The value of',i,'is',value)

for value in range(1,51):
                               #for value in range(1,51,2):    for odd number
                               #for value in range(0,51,2):    for even number
    print('The value of ',i,'is',value)
    i+=1

The value of  1 is 1
The value of  2 is 2
The value of  3 is 3
The value of  4 is 4
The value of  5 is 5
The value of  6 is 6
The value of  7 is 7
The value of  8 is 8
The value of  9 is 9
The value of  10 is 10
The value of  11 is 11
The value of  12 is 12
The value of  13 is 13
The value of  14 is 14
The value of  15 is 15
The value of  16 is 16
The value of  17 is 17
The value of  18 is 18
The value of  19 is 19
The value of  20 is 20
The value of  21 is 21
The value of  22 is 22
The value of  23 is 23
The value of  24 is 24
The value of  25 is 25
The value of  26 is 26
The value of  27 is 27
The value of  28 is 28
The value of  29 is 29
The value of  30 is 30
The value of  31 is 31
The value of  32 is 32
The value of  33 is 33
The value of  34 is 34
The value of  35 is 35
The value of  36 is 36
The value of  37 is 37
The value of  38 is 38
The value of  39 is 39
The value of  40 is 40
The value of  41 is 41
The value of  42 is 42
The value of  43 is 43
The value of  44 is 44
The value of  45 is 45
The value of  46 is 46
The value of  47 is 47
The value of  48 is 48
The value of  49 is 49
The value of  50 is 50

In [20]:

i=1
for name in 'krishna':
    print(f'Value of {i} is {name}')
   # print(f'OK! Your name is ',{name})
    i+=1

Value of 1 is k
Value of 2 is r
Value of 3 is i
Value of 4 is s
Value of 5 is h
Value of 6 is n
Value of 7 is a

In [38]:
r=1
for q in range(50,-1,-1):
    print(f'The value of {r} is {q}')
    r+=1

The value of 1 is 50
The value of 2 is 49
The value of 3 is 48
The value of 4 is 47
The value of 5 is 46
The value of 6 is 45
The value of 7 is 44
The value of 8 is 43
The value of 9 is 42
The value of 10 is 41
The value of 11 is 40
The value of 12 is 39
The value of 13 is 38
The value of 14 is 37
The value of 15 is 36
The value of 16 is 35
The value of 17 is 34
The value of 18 is 33
The value of 19 is 32
The value of 20 is 31
The value of 21 is 30
The value of 22 is 29
The value of 23 is 28
The value of 24 is 27
The value of 25 is 26
The value of 26 is 25
The value of 27 is 24
The value of 28 is 23
The value of 29 is 22
The value of 30 is 21
The value of 31 is 20
The value of 32 is 19
The value of 33 is 18
The value of 34 is 17
The value of 35 is 16
The value of 36 is 15
The value of 37 is 14
The value of 38 is 13
The value of 39 is 12
The value of 40 is 11
The value of 41 is 10
The value of 42 is 9
The value of 43 is 8
The value of 44 is 7
The value of 45 is 6
The value of 46 is 5
The value of 47 is 4
The value of 48 is 3
The value of 49 is 2
The value of 50 is 1
The value of 51 is 0

In [12]:
al=1
for a in 'krishna agrawal':
   # if a=='r':
    if a=='r':
       continue
        
        # break
    print(f'Value of {al} is {a}')
    al+=1
else:
    print('Loop created successfully')
print("Thank you")

Value of 1 is k
Value of 2 is i
Value of 3 is s
Value of 4 is h
Value of 5 is n
Value of 6 is a
Value of 7 is
Value of 8 is a
Value of 9 is g
Value of 10 is a
Value of 11 is w
Value of 12 is a
Value of 13 is l
Loop created successfully
Thank you

In [14]:
myname='krishna'
names=[myname,'bhavesh','suresh','mandeep']
for name in names:
    print(f'My name is {name}')

My name is krishna
My name is bhavesh
My name is suresh
My name is mandeep

In [23]:
f=1
for i in range(1,201,5):
    print(f'value of {f} is {i}')
    f+=1

value of 1 is 1
value of 2 is 6
value of 3 is 11
value of 4 is 16
value of 5 is 21
value of 6 is 26
value of 7 is 31
value of 8 is 36
value of 9 is 41
value of 10 is 46
value of 11 is 51
value of 12 is 56
value of 13 is 61
value of 14 is 66
value of 15 is 71
value of 16 is 76
value of 17 is 81
value of 18 is 86
value of 19 is 91
value of 20 is 96
value of 21 is 101
value of 22 is 106
value of 23 is 111
value of 24 is 116
value of 25 is 121
value of 26 is 126
value of 27 is 131
value of 28 is 136
value of 29 is 141
value of 30 is 146
value of 31 is 151
value of 32 is 156
value of 33 is 161
value of 34 is 166
value of 35 is 171
value of 36 is 176
value of 37 is 181
value of 38 is 186
value of 39 is 191
value of 40 is 196

In [35]:
for i in range(1,101,10):
     print(i , end=" ")

1 11 21 31 41 51 61 71 81 91

In [36]:

for i in range(0,1,2):
    print(i)

0

In [42]:
for i in range(0,21):
    print(f'The Square of {i} is {i**2}')

The Square of 0 is 0
The Square of 1 is 1
The Square of 2 is 4
The Square of 3 is 9
The Square of 4 is 16
The Square of 5 is 25
The Square of 6 is 36
The Square of 7 is 49
The Square of 8 is 64
The Square of 9 is 81
The Square of 10 is 100
The Square of 11 is 121
The Square of 12 is 144
The Square of 13 is 169
The Square of 14 is 196
The Square of 15 is 225
The Square of 16 is 256
The Square of 17 is 289
The Square of 18 is 324
The Square of 19 is 361
The Square of 20 is 400

In [57]:
value=list(range(0,5))
print(value)
sum=0;mul=1
for v in values:
    sum=sum+v
    mul=mul*v
print('The sum is = ',sum)
print('The mul is = ',mul)

[0, 1, 2, 3, 4]
The sum is =  10
The mul is =  24

In [58]:
for i in range(1,10):
    print(i**3,end='--')

1--8--27--64--125--216--343--512--729--

In [62]:
a=[]
for i in range(1,51):
    a.append(i*3 -1)
print(a)

[2, 5, 8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47, 50, 53, 56, 59, 62, 65, 68, 71, 74, 77, 80, 83, 86, 89, 92, 95, 98, 101, 104, 107, 110, 113, 116, 119, 122, 125, 128, 131, 134, 137, 140, 143, 146, 149]

In [77]:
fruits=['mango','apple','banana']
l=len(fruits)
print(list(range(l)))

for i in range(l):
    print('I love to eat',fruits[i])

[0, 1, 2]
I love to eat mango
I love to eat apple
I love to eat banana

In [81]:
animal=['dog','lion','pigeon']
a=len(animal)
print(list(range(a)))

for i in range(a):
    print('I Want To Play With',animal[i])

[0, 1, 2]
I Want To Play With dog
I Want To Play With lion
I Want To Play With pigeon

In [85]:
fruit=['apple','dragon','mango']
for fruits in fruit:
    if fruits[0] == 'a':
        continue
    print('I Love To Eat',fruits)
else:
    print('Loop Worked Successfully')

I Love To Eat dragon
I Love To Eat mango
Loop Worked Successfully

In [87]:
'''
Syntax offf while loop 
while expression:          --   expression means true or false
   do something
'''

'\nSyntax offf while loop \nwhile expression:          --   expression means true or false\n   do something\n'

In [3]:
a=int(input('Enter any whole number = '))
while a!=0:
    if a>=0:
        a-=1
        print('a is ',a)
    else:
        a+=1
        print('a is ',a)

Enter any whole number =  4

a is  3
a is  2
a is  1
a is  0

In [16]:
n=100
i=1
sum=0
while i<=n:
    sum+=i
    i+=1
print(sum)

5050

In [17]:
sum=0
for i in range(1,2500):
    sum+=i
print(sum)

3123750

In [28]:
# The question is that : enter any numbers till user input -1 , and get the sum of all number that user has input
sum=0
while True:
    n=float(input('Enter any number = '))
    if n == -1:
        break
    sum+=n
print(f'The total sum is = {sum}')

Enter any number =  23
Enter any number =  34
Enter any number =  45
Enter any number =  56
Enter any number =  67
Enter any number =  -67
Enter any number =  -78
Enter any number =  -100
Enter any number =  -102
Enter any number =  -23.2
Enter any number =  -20.1
Enter any number =  34.3
Enter any number =  -1

The total sum is = -131.0

In [31]:
sum=0
while True:
    n=input('Enter any number until user input quit = ')
    if n=='quit':
        break
    sum+=float(n)
print(f'The sum is = {sum}')

Enter any number until user input quit =  56
Enter any number until user input quit =  12
Enter any number until user input quit =  90
Enter any number until user input quit =  -78.76
Enter any number until user input quit =  -563.5
Enter any number until user input quit =  45.34
Enter any number until user input quit =  78
Enter any number until user input quit =  quit

The sum is = -360.91999999999996

In [3]:
user=21
while user>0:
    print('user value is ',user)
    if user==4:
        break
    user-=1    
else:
    print('Ok your process have not error')

user value is  21
user value is  20
user value is  19
user value is  18
user value is  17
user value is  16
user value is  15
user value is  14
user value is  13
user value is  12
user value is  11
user value is  10
user value is  9
user value is  8
user value is  7
user value is  6
user value is  5
user value is  4

In [4]:
for user in range(21,0,-1):
    if user==4:
        continue
    print('The value is = ',user)
else:
    print('done')

The value is =  21
The value is =  20
The value is =  19
The value is =  18
The value is =  17
The value is =  16
The value is =  15
The value is =  14
The value is =  13
The value is =  12
The value is =  11
The value is =  10
The value is =  9
The value is =  8
The value is =  7
The value is =  6
The value is =  5
The value is =  3
The value is =  2
The value is =  1
done

In [1]:
#print only even numbers enter by user , it can be either positive or negative
n=int(input('Enter any number = '))
if n>0:
    while n:
        n=n-1
        if n%2!=0:
            continue
        else:
            print(n)
while n<0:
    n=n+1
    if n%2!=0:
        continue
    else:
        print(n)
        
# do Again

Enter any number =  9

8
6
4
2
0

In [8]:
#print only odd numbers enter by user , it can be either positive or negative
n=int(input('Enter any whole number = '))
if n>0:
    while (n):
        n=n-1
        if n%2==0:
            continue
        else:
            print(n)
if n<0:
    while(n):
        n=n+1
        if n%2==0:
            continue
        else:
            print(n)

Enter any whole number =  -13

-11
-9
-7
-5
-3
-1

In [3]:
import datetime
time=datetime.datetime.now()
print(time)

2022-10-07 11:23:19.622942

In [6]:
from datetime import datetime
time=datetime.now()
print(time)

2022-10-07 11:24:58.456669

In [7]:
datetime?

Init signature: datetime(self, /, *args, **kwargs)
Docstring:
datetime(year, month, day[, hour[, minute[, second[, microsecond[,tzinfo]]]]])

The year, month and day arguments are required. tzinfo may be None, or an
instance of a tzinfo subclass. The remaining arguments may be ints.
File:           e:\anaconda\lib\datetime.py
Type:           type
Subclasses:     datetime

In [8]:
import sys
print(sys.path)

['C:\\Users\\KRISHNA AGRAWAL', 'E:\\anaconda\\python39.zip', 'E:\\anaconda\\DLLs', 'E:\\anaconda\\lib', 'E:\\anaconda', '', 'E:\\anaconda\\lib\\site-packages', 'E:\\anaconda\\lib\\site-packages\\win32', 'E:\\anaconda\\lib\\site-packages\\win32\\lib', 'E:\\anaconda\\lib\\site-packages\\Pythonwin']

In [9]:
n=10
i=1
sum=0
while i<=n:
    sum+=i
    i+=1
print('The total sum is ',sum)

The total sum is  55

In [12]:
 sum=0
for i in range(1,21):
    sum+=i
    i+=1
print('The sum of 20 is ',sum)

The sum of 20 is  210